<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ptiik.mobapp.belajaractivity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <!-- Google Cloud Messaging -->
    <!-- App receives GCM messages. -->
    <permission
        android:name="ptiik.mobapp.belajaractivity.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ptiik.mobapp.belajaractivity.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- for Read phone id -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- END OF GCM -->

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".SetAlarm"
            android:label="Set Alarm" >
        </activity>
        <activity
            android:name=".DisplayAlarmNotification"
            android:label="Notification" >
        </activity>
        <activity
            android:name=".tampilTugas"
            android:label="Tampil Tugas" >
        </activity>
        <activity
            android:name=".EditTugas"
            android:label="Edit Tugas" >
        </activity>
        <activity
            android:name=".LoginAlert"
            android:label="@string/title_activity_login_alert"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <!--
          BroadcastReceiver that will receive intents from GCM
          services and handle them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="ptiik.mobapp.belajaractivity" />
            </intent-filter>
        </receiver>

        <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.

          By default, it must be named .GCMIntentService, unless the
          application uses a custom BroadcastReceiver that redefines its name.
        -->
        <service android:name=".GCMIntentService" />

        <activity
            android:name=".PushMessage"
            android:label="@string/title_activity_push_message" 
             >
        </activity>
    </application>

</manifest>